body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.topbar-right-side {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.image-container {
  /* background-color: #2c2c2c; */
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;

}

.login-wrapper{
  display: flex;
  justify-content: center;
  align-self: center;
  height: 100vh;
  background-color: white;
}
.AuthWrapper {
  /* padding: 50px; */
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
}

.auth-contents {
  width: 100%;
}

.custom-input-style {
  height: 50px;
  border: 3px solid black;
  border-radius: 0px;
  width: 400px;
  margin-top: 20px;

}

.sign-heading{
  font-size: 32px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.new-user-title{
  margin-bottom: 15px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
}
.create-account-span{
  color: blue;
}
.custom-button-style{
  height: 50px;
  border: 3px solid black;
  border-radius: 0px;
  width: 400px;
  background-color: black;
  color: white;
}


.navLink {
  font-size: 18px;
  margin-right: 20px;
  cursor: pointer

}

.activeNavLink {
  font-size: 18px;
  margin-right: 20px;
  color: lightblue;
  text-decoration: underline;
  cursor: pointer 

}

.ant-row {
  margin-left: 0px !important;
  margin-right: 0px !important;
}

.country-section-container {
  background-color: #FBFBFB;
  padding-top: 80px;
  padding-bottom: 100px;
}

.country-section-container-loading {
  background-color: #FBFBFB;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.country-list-container {
  border: 2px solid black;
  background-color: white;
  display: flex;
  /* padding: 20px; */
  padding-left: 15px;
  margin: 10px;
}

.image-containers {
  margin-top: 10px;
  margin-bottom: 10px;
}

.country-detail-container {
  margin-left: 20px;
}

.country-name {
  margin-bottom: 0px;
  font-size: 17px;
  color: grey;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.region-name {
  margin-top: 3px;
  color: grey;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 500;
}

.mobile {
  display: none;
}

.mediaContainer{
  margin-top: 50px;
}
.social-container{
text-align: center;
margin-left: 1px;
}

.socialMediaBrandContainer{
  border: 1px solid black;
  padding: 10px;
  padding-top: 20px;
  border-radius: 30px;
  margin-right: 20px;
  text-align: center;
}

.heading-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 400px;
}

.heading-line {
  flex-grow: 1;
  border: none;
  border-top: 1px solid #333;
}

.heading-text {
  margin: 0 10px;
  font-size: 14px;
  color: #333;
}
.ant-input:hover {
  border-color: initial; 
  border-inline-end-width: initial;
}
.ant-btn-default:not(:disabled):hover {
  color :initial;
  border-color:initial;
  color: white  ;
}
.ant-btn-default:not(:disabled):active {
  color:initial;
  border-color:initial;
}
.ant-input-affix-wrapper:not(.ant-input-affix-wrapper-disabled):hover {
  border-color: initial;
  border-inline-end-width: initial;
  z-index: initial;
}

@media only screen and (max-width: 768px) {
  .mobile {
    display: block;
  }

  .mobile-nav {
    display: none;
  }

  .mobile-nav-active {
    display: flex;
    position: fixed;
    top: 65px;
    right: 0px;
    flex-direction: column;
    width: 70vw;
    height: 90vh;
    background-color: #FBFBFB;
    /* align-items: start; */
    justify-content: start;
  }

  .image-container {
    display: none;
  }

  .custom-input-style {
    width: 300px;
  }
  .sign-heading{
    text-align: center;
  }
  .new-user-title{
    text-align: center;
  }
  .custom-button-style{
    width: 300px;
  }
  .heading-container{
    width: 300px;
  }
}
